@import '@variables';

.tile {
  width: 400px;
  height: 250px;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  padding: 15px;
  margin-right: 15px;
  transition: 0.3s;
  cursor: pointer;
}
.overlay {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba($black, 0.5);
  top: 0;
  left: 0;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    opacity: 0;
    transition: 0.3s;
  }
}

.title {
  color: $white;
  z-index: 10;
  font-size: 24px;
}

.takeover {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  font-family: 'Neue Haas Bold';
  color: $black;
  top: 0;
  left: 0;

  .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
  }

  .modal {
    background-color: $white;
    box-shadow: 0px 0px 20px 1px #2f2f2f;
    position: relative;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 50px 40px 50px 40px;
    .lds-ring {
      position: relative;
      top: initial;
      left: initial;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      margin-top: 20px;
      height: 50px;
      width: 50px;
    }
  }

  .lineOne {
    font-size: 30px;
    margin: 15px 0;
  }

  .closeButton {
    background-color: $white;
    border: none;
    color: $black;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 10001;
    cursor: pointer;
    height: 25px;
    width: 25px;
  }
}
